# Homework 5, Part 2: Answer questions with pandas

**Use the Excel file to answer the following questions.** This is a little more typical of what your data exploration will look like with pandas.

## 0) Setup

Import pandas **with the correct name** and set `matplotlib` to always display graphics in the notebook.

In [2]:
import pandas as pd

## 1) Reading in an Excel file

Use pandas to read in the `richpeople.xlsx` Excel file, saving it as a variable with the "correct" name. You will use `read_excel` instead of `read_csv`, *but you'll also need to install a new library*.

In [4]:
df = pd.read_excel("richpeople.xlsx")
df.head()

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,relationshiptocompany,foundingdate,gdpcurrentus,sourceofwealth,notes,notes2,source,source_2,source_3,source_4
0,2014,A. Jerrold Perenchio,663,United States,USA,2.6,self-made,executive,male,83.0,...,former chairman and CEO,1955.0,NaN,"television, Univision",represented Marlon Brando and Elizabeth Taylor,NaN,http://en.wikipedia.org/wiki/Jerry_Perenchio,http://www.forbes.com/profile/a-jerrold-perenc...,COLUMN ONE; A Hollywood Player Who Owns the Ga...,NaN
1,2014,Abdulla Al Futtaim,687,United Arab Emirates,ARE,2.5,inherited,inherited,male,NaN,...,relation,1930.0,NaN,"auto dealers, investments",company split between him and cousin in 2000,NaN,http://en.wikipedia.org/wiki/Al-Futtaim_Group,http://www.al-futtaim.ae/content/groupProfile.asp,NaN,NaN
2,2014,Abdulla bin Ahmad Al Ghurair,305,United Arab Emirates,ARE,4.8,inherited,inherited,male,NaN,...,relation,1960.0,NaN,diversified,inherited from father,NaN,http://en.wikipedia.org/wiki/Al-Ghurair_Group,http://www.alghurair.com/about-us/our-history,NaN,NaN
3,2014,Abdullah Al Rajhi,731,Saudi Arabia,SAU,2.4,self-made,self-made finance,male,NaN,...,founder,1957.0,NaN,banking,NaN,NaN,http://en.wikipedia.org/wiki/Al-Rajhi_Bank,http://www.alrajhibank.com.sa/ar/investor-rela...,http://www.alrajhibank.com.sa/ar/about-us/page...,NaN
4,2014,Abdulsamad Rabiu,1372,Nigeria,NGA,1.2,self-made,founder non-finance,male,54.0,...,founder,1988.0,NaN,"sugar, flour, cement",NaN,NaN,http://www.forbes.com/profile/abdulsamad-rabiu/,http://www.bloomberg.com/research/stocks/priva...,NaN,NaN

## 2) Checking your data

Display the number of rows and columns in your data. Also display the names and data types of each column.

In [13]:
df.shape

(1653, 30)

In [16]:
df.dtypes

year                         int64
name                        object
rank                         int64
citizenship                 object
countrycode                 object
networthusbillion          float64
selfmade                    object
typeofwealth                object
gender                      object
age                        float64
industry                    object
IndustryAggregates          object
region                      object
north                        int64
politicalconnection        float64
founder                      int64
generationofinheritance     object
sector                      object
company                     object
companytype                 object
relationshiptocompany       object
foundingdate               float64
gdpcurrentus               float64
sourceofwealth              object
notes                       object
notes2                      object
source                      object
source_2                    object
source_3                    object
source_4                    object
dtype: object

## 3) Who are the top 10 richest billionaires? Use the `networthusbillion` column.

In [17]:
df.sort_values(by="networthusbillion", ascending= False).head(10)

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,relationshiptocompany,foundingdate,gdpcurrentus,sourceofwealth,notes,notes2,source,source_2,source_3,source_4
184,2014,Bill Gates,1,United States,USA,76.0,self-made,founder non-finance,male,58.0,...,founder,1975.0,NaN,Microsoft,NaN,NaN,http://www.forbes.com/profile/bill-gates/,NaN,NaN,NaN
226,2014,Carlos Slim Helu,2,Mexico,MEX,72.0,self-made,privatized and resources,male,74.0,...,founder,1990.0,NaN,telecom,NaN,NaN,http://www.ozy.com/provocateurs/carlos-slims-w...,NaN,NaN,NaN
79,2014,Amancio Ortega,3,Spain,ESP,64.0,self-made,founder non-finance,male,77.0,...,founder,1975.0,NaN,retail,NaN,NaN,http://www.forbes.com/profile/amancio-ortega/,NaN,NaN,NaN
1562,2014,Warren Buffett,4,United States,USA,58.2,self-made,founder non-finance,male,83.0,...,founder,1839.0,NaN,Berkshire Hathaway,NaN,NaN,http://www.forbes.com/lists/2009/10/billionair...,http://www.forbes.com/companies/berkshire-hath...,NaN,NaN
862,2014,Larry Ellison,5,United States,USA,48.0,self-made,founder non-finance,male,69.0,...,founder,1977.0,NaN,Oracle,NaN,NaN,http://www.forbes.com/profile/larry-ellison/,http://www.businessinsider.com/how-larry-ellis...,NaN,NaN
339,2014,David Koch,6,United States,USA,40.0,inherited,inherited,male,73.0,...,relation,1940.0,NaN,diversified,inherited from father,NaN,http://www.kochind.com/About_Koch/History_Time...,NaN,NaN,NaN
247,2014,Charles Koch,6,United States,USA,40.0,inherited,inherited,male,78.0,...,relation,1940.0,NaN,diversified,inherited from father,NaN,http://www.kochind.com/About_Koch/History_Time...,NaN,NaN,NaN
1364,2014,Sheldon Adelson,8,United States,USA,38.0,self-made,self-made finance,male,80.0,...,founder,1952.0,NaN,casinos,NaN,NaN,http://www.forbes.com/profile/sheldon-adelson/,http://lasvegassun.com/news/1996/nov/26/rat-pa...,NaN,NaN
280,2014,Christy Walton,9,United States,USA,36.7,inherited,inherited,female,59.0,...,relation,1962.0,NaN,Wal-Mart,widow,NaN,http://www.forbes.com/profile/christy-walton/,NaN,NaN,NaN
724,2014,Jim Walton,10,United States,USA,34.7,inherited,inherited,male,66.0,...,relation,1962.0,NaN,Wal-Mart,inherited from father,NaN,http://www.forbes.com/profile/jim-walton/,NaN,NaN,NaN

## 4) How many male billionaires are there compared to the number of female billionares? Do they have a different average wealth?

> **TIP:** The second part uses `groupby`, but the first part does not.

In [25]:
df['gender'].value_counts()

male      1473
female     180
Name: gender, dtype: int64

In [27]:
df["networthusbillion"].mean()

3.9046581972171812

In [28]:
df.groupby("gender")["networthusbillion"].mean()

gender
female    3.920556
male      3.902716
Name: networthusbillion, dtype: float64

## 5) Who is the poorest billionaire? Who are the top 10 poorest billionaires?

In [22]:
df.sort_values(by="networthusbillion", ascending= True).head(10)

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,relationshiptocompany,foundingdate,gdpcurrentus,sourceofwealth,notes,notes2,source,source_2,source_3,source_4
156,2014,B.R. Shetty,1565,India,IND,1.0,self-made,founder non-finance,male,72.0,...,founder,1975.0,NaN,healthcare,NaN,NaN,http://en.wikipedia.org/wiki/B._R._Shetty,http://www.nmchealth.com/dr-br-shetty/,NaN,NaN
1310,2014,Rostam Azizi,1565,Tanzania,TZA,1.0,self-made,executive,male,49.0,...,investor,1999.0,NaN,"telecom, investments",NaN,NaN,http://www.forbes.com/profile/rostam-azizi/,http://en.wikipedia.org/wiki/Vodacom_Tanzania,http://www.thecitizen.co.tz/News/Rostam--Dewji...,NaN
1497,2014,Tory Burch,1565,United States,USA,1.0,self-made,founder non-finance,female,47.0,...,founder,2004.0,NaN,fashion,NaN,NaN,http://en.wikipedia.org/wiki/J._Christopher_Burch,http://www.vanityfair.com/news/2007/02/tory-bu...,NaN,NaN
476,2014,Fred Chang,1565,United States,USA,1.0,self-made,founder non-finance,male,57.0,...,founder,2001.0,NaN,online retailing,NaN,NaN,http://en.wikipedia.org/wiki/Newegg,http://www.newegg.com/Info/FactSheet.aspx,http://www.forbes.com/sites/andreanavarro/2014...,NaN
115,2014,Angela Bennett,1565,Australia,AUS,1.0,inherited,inherited,female,69.0,...,relation,1955.0,NaN,mining,inherited from father,shared fortune with brother,http://www.forbes.com/profile/angela-bennett/,NaN,NaN,NaN
485,2014,Fu Kwan,1565,China,CHN,1.0,self-made,self-made finance,male,56.0,...,chairman,1990.0,NaN,diversified,NaN,NaN,http://www.forbes.com/profile/fu-kwan/,http://www.macrolink.com.cn/en/AboutBig.aspx,NaN,NaN
1318,2014,Ryan Kavanaugh,1565,United States,USA,1.0,self-made,founder non-finance,male,39.0,...,founder,2004.0,NaN,Movies,NaN,NaN,http://en.wikipedia.org/wiki/Ryan_Kavanaugh,http://en.wikipedia.org/wiki/Relativity_Media,http://www.vanityfair.com/news/2010/03/kavanau...,NaN
1133,2014,O. Francis Biondi,1565,United States,USA,1.0,self-made,self-made finance,male,49.0,...,founder,1995.0,NaN,hedge fund,NaN,NaN,http://www.forbes.com/profile/o-francis-biondi/,http://www.forbes.com/sites/nathanvardi/2014/0...,NaN,NaN
859,2014,Lam Fong Ngo,1565,Macau,MAC,1.0,self-made,self-made finance,female,NaN,...,Vice Chairman,1997.0,NaN,casinos,NaN,NaN,http://www.forbes.com/profile/david-chow-1/,http://www.macaulegend.com/html/about_mileston...,Macau Legend to roll the dice on HK IPO; But l...,NaN
456,2014,Feng Hailiang,1565,China,CHN,1.0,self-made,founder non-finance,male,53.0,...,founder,1989.0,NaN,copper processing & real estate,NaN,NaN,http://www.forbes.com/profile/feng-hailiang/,http://www.hailiang.com/en/about_int.php,NaN,NaN

## 6) What is the most common source of wealth? Is it different between males and females?

> **TIP:** You know how to `groupby` and you know how to count how many times a value is in a column. Can you put them together???

In [34]:
df.groupby("typeofwealth")["networthusbillion"].count()

typeofwealth
executive                   142
founder non-finance         467
inherited                   506
privatized and resources    192
self-made finance           344
Name: networthusbillion, dtype: int64

In [ ]:
#Is it different between males and females

## 7) What companies have the most billionaires? Graph the top 5 as a horizontal bar graph.

> **TIP:** First find the answer to the question, then just try to throw `.plot()` on the end
>
> **TIP:** You can use `.head()` on *anything*, not just your basic `df`
>
> **TIP:** You might feel like oyu should use `groupby`, but don't! There's an easier way to count.

In [43]:
df.groupby("sourceofwealth").count().head(5)

,year,name,rank,citizenship,countrycode,networthusbillion,selfmade,typeofwealth,gender,age,...,companytype,relationshiptocompany,foundingdate,gdpcurrentus,notes,notes2,source,source_2,source_3,source_4
sourceofwealth,,,,,,,,,,,,,,,,,,,,,
AOL,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,1,0,0
"Aldi, Trader Joe's",1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,0,1,0,0,0
Amazon.com,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,0,0,0
Amorepacific,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,0,1,1,0,0
Amway,1,1,1,1,1,1,1,1,1,1,...,1,1,1,0,0,0,1,1,0,0

## 8) How much money do these billionaires have in total?

## 9) What are the top 3 countries with the most money held by billionaires?

I am **not** asking which country has the most billionaires - this is total amount of money per country.

> **TIP:** Think about it in steps - "I want them organized by country," "I want their net worth," and "I want to add it all up." Just chain them all together.

## 10) How old is an average billionaire? How old are billionaires self made vs. non self made?

## 11) Who are the youngest billionaires? Who are the oldest? Make a graph of the distribution of ages.

## 12) Make a scatterplot of their net worth compared to their age

## 13) Make a bar graph of the top 10 richest billionaires